<div class={{if hideSkills "content-box hide" 
  (if expandSkills "col-xs-12 col-sm-12 col-md-12 content-box" "col-xs-12 col-sm-12 col-md-6 content-box")}}
  {{action "toggleSkills"}}>
  {{my-card class="card" title="My Skills" source="assets/images/logo-js.png" expanded=expandSkills}}
</div>
<div class={{if hideProjects "content-box hide" 
  (if expandProjects "col-xs-12 col-sm-12 col-md-12 content-box" "col-xs-12 col-sm-12 col-md-6 content-box")}}
  {{action "toggleProjects"}}>
  {{my-card class="card" title="My Projects" source="assets/images/logo-js.png" expanded=expandProjects}}
</div>
