<div class="row card-title">
  {{title}}
</div>
<div class="row card-body">
  <img src={{source}} class="card-img" />
</div>
<div class="row card-content">
  {{#if expanded}}
    {{yield}}
  {{else}}
    <p>{{preview}}</p>
  {{/if}}
</div>